* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #222;

    display: grid;
    place-items: center;

    color: white;
    font-family: 'Days One', sans-serif;
    font-size: 20px;
}

.app {
    width: 368px;
    height: 400px;
    display: grid;
    grid-template-rows: 70px auto;
    grid-row-gap: 16px;
}

.display {
    display: grid;
    grid-template-rows: 60% 40%;

    font-family: 'Recursive', 'Days One', sans-serif;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #666;
    color: #ccc;
}

.input,
.output {
    display: grid;
    align-items: center;
    padding: 0 8px;
}

.input {
    font-size: 20px;
}

.output {
    text-align: right;
    font-size: 18px;
}

#output {
    overflow: hidden;
    text-overflow: clip;
}

#input {
    overflow: hidden;
    text-overflow: clip;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 16px;
    cursor: default;
    user-select: none;
}

.key {
    background-color: grey;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

#times,
#divide,
#plus,
#minus,
#equals {
    font-size: 30px;
}

.key:active {
    box-shadow: 0 0 2px 2px white;
    background-color: rgb(155, 155, 155);
    cursor: default;
}
